@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SFA.DAS.Aan.SharedUi.Constants;
@using SFA.DAS.Aan.SharedUi.Extensions;
@using SFA.DAS.Aan.SharedUi.Infrastructure;
@using SFA.DAS.Aan.SharedUi.Models;
@using SFA.DAS.Aan.SharedUi.Models.AmbassadorProfile;
@using SFA.DAS.Aan.SharedUi.TagHelpers;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, SFA.DAS.Aan.SharedUi

@model MemberProfileViewModel
@{
    ViewData["Title"] = "Member Profile";
}
<partial name="_validationSummary" />
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <strong class="govuk-tag app-tag app-tag--@Model.UserRole">@Model.UserRole.GetDescription()</strong>
        <h1 class="govuk-heading-xl govuk-!-margin-top-4 govuk-!-margin-bottom-0">@Model.FullName</h1>
        <p class="profile-job-title govuk-!-margin-bottom-0">@Model.JobTitle</p>
        <p>@Model.RegionName</p>

        @if (!string.IsNullOrEmpty(Model.Biography))
        {
            <div class="profile-about-me-section govuk-!-padding-5">
                <h3 class="govuk-heading-m">
                    About me
                </h3>
                <p>
                    @Model.Biography
                </p>
            </div>
        }

        @if (Model.FirstSectionProfiles.Count > 0 || Model.SecondSectionProfiles.Count > 0)
        {
            <h1 class="govuk-heading-l govuk-!-margin-top-7">My areas of interest</h1>
            <p>@Model.AreasOfInterestTitle</p>
            <div>
                @if (Model.FirstSectionProfiles.Count > 0)
                {
                    <div>
                        <h3 class="govuk-heading-m govuk-!-margin-bottom-1">@Model.AreasOfInterestFirstSectionTitle</h3>
                        <ul>
                            @foreach (var eventProfile in Model.FirstSectionProfiles)
                            {
                                <li>
                                    <p>@eventProfile</p>
                                </li>
                            }
                        </ul>
                    </div>
                }
                @if (Model.SecondSectionProfiles.Count > 0)
                {
                    <div>
                        <h3 class="govuk-heading-m govuk-!-margin-bottom-1">@Model.AreasOfInterestSecondSectionTitle</h3>
                        <ul>
                            @foreach (var promotionProfile in Model.SecondSectionProfiles)
                            {
                                <li>
                                    <p>@promotionProfile</p>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }

        @if (Model.IsEmployerInformationAvailable || Model.IsApprenticeshipInformationAvailable)
        {
            <h1 class="govuk-heading-l govuk-!-margin-top-7">@Model.InformationSectionTitle</h1>
            <dl class="govuk-summary-list govuk-!-margin-bottom-0">
                @if (!string.IsNullOrEmpty(Model.EmployerName))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Employer's name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.EmployerName
                        </dd>
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.Address))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Employer's address and postcode
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.Address
                        </dd>
                    </div>
                }

            </dl>
			
            @if (Model.UserType == MemberUserType.Apprentice)
            {
                await Html.RenderPartialAsync("~/Views/MemberProfile/_ApprenticeInformationSection.cshtml", Model);
            }
            @if (Model.UserType == MemberUserType.Employer)
            {
                await Html.RenderPartialAsync("~/Views/MemberProfile/_EmployerInformationSection.cshtml", Model);
            }
        }
        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Connect with @Model.FirstName</h1>
        <p class="govuk-!-margin-bottom-4 govuk-!-margin-top-4 govuk-!-margin-top-2">@Model.ConnectSectionTitle</p>
        <h3 class="govuk-heading-m profile-send-message govuk-!-margin-bottom-0 connect-section-heading govuk-!-padding-2"><span class="govuk-!-margin-left-2">Send a message to @Model.FirstName</span></h3>
        <div class="profile-send-message-section govuk-!-padding-5">
            <form method="post" asp-route="@SharedRouteNames.MemberProfile" enctype="multipart/form-data" novalidate>
                <div id="ReasonToGetInTouch" esfa-validation-marker-for="@Model.ReasonToGetInTouch" class="govuk-form-group">
                    <h3 class="govuk-heading-m govuk-!-margin-bottom-4">I would like to:</h3>
                    <span asp-validation-for="@Model.ReasonToGetInTouch" class="govuk-error-message"></span>
                    <div  class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input type="radio" asp-for="@Model.ReasonToGetInTouch" id="askForAdvice" class="govuk-radios__input" value="@NotificationTemplateConstant.AANIndustryAdvice">
                            <label class="govuk-label govuk-radios__label profile-govuk-radios" for="askForAdvice">
                                ask for industry advice
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input type="radio" asp-for="@Model.ReasonToGetInTouch" id="askForHelp" class="govuk-radios__input" value="@NotificationTemplateConstant.AANAskForHelp">
                            <label class="govuk-label govuk-radios__label profile-govuk-radios" for="askForHelp">
                                ask for help with a network activity
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input type="radio" asp-for="@Model.ReasonToGetInTouch" id="requestCaseStudy" class="govuk-radios__input" value="@NotificationTemplateConstant.AANRequestCaseStudy">
                            <label class="govuk-label govuk-radios__label profile-govuk-radios" for="requestCaseStudy">
                                request a case study
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input type="radio" asp-for="@Model.ReasonToGetInTouch" id="afterMeeting" class="govuk-radios__input" value="@NotificationTemplateConstant.AANGetInTouch">
                            <label class="govuk-label govuk-radios__label profile-govuk-radios" for="afterMeeting">
                                get in touch after meeting at a network event
                            </label>
                        </div>
                    </div>
                </div>
                <div class="govuk-!-margin-top-4">
                    <h3 class="govuk-heading-m govuk-!-margin-bottom-4">By submitting this message, I agree to:</h3>
                    <div class="govuk-checkboxes govuk-checkboxes--small">
                        <div esfa-validation-marker-for="HasAgreedToSharePersonalDetails" class="govuk-form-group govuk-!-margin-bottom-1">
                            <span asp-validation-for="HasAgreedToSharePersonalDetails" class="govuk-error-message"></span>
                            <div class="govuk-checkboxes__item" id="HasAgreedToSharePersonalDetails">
                                <input type="checkbox" asp-for="HasAgreedToSharePersonalDetails" class="govuk-checkboxes__input" id="hasAgreedToSharePersonalDetails" name="hasAgreedToSharePersonalDetails">
                                <label class="govuk-label govuk-checkboxes__label profile-govuk-checkboxes" for="hasAgreedToSharePersonalDetails">
                                    my details including my name, email address and a link to my profile being displayed in the message
                                </label>
                            </div>
                        </div>
                        <div esfa-validation-marker-for="HasAgreedToCodeOfConduct" class="govuk-form-group govuk-!-margin-bottom-1">
                            <span asp-validation-for="HasAgreedToCodeOfConduct" class="govuk-error-message"></span>
                            <div class="govuk-checkboxes__item" id="HasAgreedToCodeOfConduct">
                                <input type="checkbox" asp-for="HasAgreedToCodeOfConduct" class="govuk-checkboxes__input" id="hasAgreedToCodeOfConduct" name="hasAgreedToCodeOfConduct">
                                <label class="govuk-label govuk-checkboxes__label profile-govuk-checkboxes" for="hasAgreedToCodeOfConduct">
                            adhere to the <a href="https://www.apprenticeships.gov.uk/influencers/aan-resources" target="_blank">code of conduct (opens in new tab)</a>
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
                <p class="govuk-grid-column-full govuk-!-margin-top-3 govuk-!-margin-bottom-4">An email will be sent to @Model.FirstName from the Apprenticeship Ambassador Network inbox outlining your request.</p>
                <button id="sendMessage" type="submit" data-disable-on-submit="true" class="govuk-button govuk-!-margin-bottom-0" disabled="@(Model.IsLoggedInUserMemberProfile)">Send the message</button>
            </form>
        </div>
        @if (!string.IsNullOrEmpty(Model.LinkedinUrl))
        {
            <ul class="govuk-list app-icon-list">
                <li>
                    <h2 class="govuk-heading-m">Connect with @Model.FirstName on Linkedin</h2>
                    <p>Send @Model.FirstName a connection request: <a href="@Model.LinkedinUrl" class="govuk-link govuk-link--no-visited-state">@Model.LinkedinUrl</a></p>
                    <img alt="" class="app-icon-list__icon" src="/img/linkedin.svg" />
                </li>
            </ul>
        }
    </div>
</div>