@model CalendarEventDetailsViewModel
@{
    ViewData["Title"] = "Event Page — Online";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name=@Model.PartialViewName />
        <h2 class="govuk-heading-m">Event summary</h2>
        <p>@Model.Summary</p>
        <h2 class="govuk-heading-m">Guest speakers</h2>
        <div class="app-speakers">
            @foreach (var person in Model.EventGuests) // .Where(e => e.GuestJobTitle == "speaker") or something like that
            {
                <div class="app-speaker">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">@person.GuestName</h3>
                    <p>@person.GuestJobTitle</p>
                </div>
            }
        </div>
        <h2 class="govuk-heading-m">@Model.ContactName</h2>
        <p>If you have any questions or need to speak about requirements prior to the event, contact the event organiser @Model.ContactName by  email: <a href="#" class="govuk-link">@Model.ContactEmail</a></p>
        <h2 class="govuk-heading-m">Attendees (@Model.Attendees.Count())</h2>
        <details class="govuk-details app-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Show all attendees
                </span>
            </summary>
            <ul class="govuk-list app-attendee-list">
                @foreach (var person in Model.Attendees)
                {
                    <li>@person.MemberName</li>
                }
            </ul>
        </details>

    </div>
    <div class="govuk-grid-column-one-third">
        <div class="das-highlight govuk-!-margin-top-0">
            <h3 class="govuk-heading-m">Want to be involved in this event?</h3>
            <a href="#" role="button" class="govuk-button govuk-!-margin-bottom-0 govuk-!-width-full">Sign up</a>
        </div>
        <div class="das-highlight govuk-!-margin-top-0">
            <p class="app-green-tick-large">
                <span class="das-icon-list__icon das-icon-list__icon--tick">Yes: </span>You're signed up
            </p>
            <h3 class="govuk-heading-s">Can't make it</h3>
            <a href="#" role="button" class="govuk-button govuk-button--warning govuk-!-margin-bottom-0 govuk-!-width-full">Cancel your attendance</a>
        </div>
    </div>
</div>
