@using SFA.DAS.ApprenticeAan.Web.Models.Onboarding
@using SFA.DAS.ApprenticeAan.Web.Infrastructure;
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model AreasOfInterestViewModel
@{
    ViewData["Title"] = "Apprenticeship region";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_validationSummary" />
        <form method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <div esfa-validation-marker-for="@Model.AreasOfInterest" class="govuk-form-group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                Please tell us which areas interest you most in your role as an ambassador
                            </h1>
                        </legend>
                        <p />
                        <div id="regions-hint" class="govuk-hint">
                            Your areas of interest will help regional support teams find the most relevant opportunities available to you. Ambassadors are expected to participate in a minimum of six engagement activities/events across the year.
                        </div>
                        <span asp-validation-for="@Model.AreasOfInterest" class="govuk-error-message"></span>

                        <div id="AreasOfInterest" class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <h2 class="govuk-heading-m">
                                Events
                            </h2>
                            @{
                                for (int i = 0; i < Model.Events.Count; i++)
                                {
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" type="checkbox" asp-for=@Model.Events[i].IsSelected>
                                        <label class="govuk-label govuk-checkboxes__label" asp-for="@Model.Events[i].IsSelected">
                                            @Model.Events[i].Description
                                        </label>
                                        <input type="hidden" asp-for="@Model.Events[i].Id" />
                                        <input type="hidden" asp-for="@Model.Events[i].Ordering" />
                                    </div>
                                }
                            }
                        </div>
                        <p />
                        <div id="promotions-option" class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <h2 class="govuk-heading-m">
                                Promotions
                            </h2>
                            @{
                                for (int i = 0; i < Model.Promotions.Count; i++)
                                {
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" type="checkbox" asp-for=@Model.Promotions[i].IsSelected>
                                        <label class="govuk-label govuk-checkboxes__label" for="@Model.Promotions[i].IsSelected">
                                            @Model.Promotions[i].Description
                                        </label>
                                        <input type="hidden" asp-for="@Model.Promotions[i].Id" />
                                        <input type="hidden" asp-for="@Model.Promotions[i].Ordering" />
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <p />
                    <div class="govuk-hint">
                        You can change your preferences at any time in your network profile settings.
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button id="continue-button" type="submit" class="govuk-button" data-module="govuk-button" data-disable-on-submit="true" asp-page-handler="Submit">
                    Continue
                </button>
            </div>
        </form>
    </div>
</div>