@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model AreasOfInterestViewModel
@{
    ViewData["Title"] = "How you want to be involved";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_validationSummary" />
        <form method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <div esfa-validation-marker-for="@Model.AreasOfInterest" class="govuk-form-group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <span class="govuk-caption-l govuk-!-margin-bottom-0">Create your ambassador profile</span>
                            <h1 class="govuk-fieldset__heading">
                                How you want to be involved
                            </h1>
                        </legend>
                        <span asp-validation-for="@Model.AreasOfInterest" class="govuk-error-message"></span>
                        <div id="AreasOfInterest" class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <h2 class="govuk-heading-m">
                                How do you want to be involved at network events?
                            </h2>
                            <p class="govuk-body">
                                Ambassadors can join us at events that promote apprenticeships. Share your experience and help people taking the next step in their careers.
                            </p>
                            <div id="reasonsToJoin-hint" class="govuk-hint">
                                Select all that apply
                            </div>
                            @{
                                for (int i = 0; i < Model.Events.Count; i++)
                                {
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" type="checkbox" asp-for=@Model.Events[i].IsSelected>
                                        <label class="govuk-label govuk-checkboxes__label" asp-for="@Model.Events[i].IsSelected">
                                            @Model.Events[i].Description
                                            @if (Model.Events[i].Description == "Organising events")
                                            {
                                                <span class="govuk-caption-m govuk-!-margin-top-0">Help to co-ordinate regional or national events</span>
                                            }
                                        </label>
                                        <input type="hidden" asp-for="@Model.Events[i].Id" />
                                        <input type="hidden" asp-for="@Model.Events[i].Ordering" />
                                    </div>
                                }
                            }
                        </div>
                        <div id="promotions-option" class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <h2 class="govuk-heading-m">
                                How do you want to be involved with promoting the network?
                            </h2>
                            <p class="govuk-body">
                                Ambassadors can help us promote the network. Get professional experience by promoting AAN and apprenticeships.
                            </p>
                            <div id="reasonsToJoin-hint" class="govuk-hint">
                                Select all that apply
                            </div>
                            @{
                                for (int i = 0; i < Model.Promotions.Count; i++)
                                {
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" type="checkbox" asp-for=@Model.Promotions[i].IsSelected>
                                        <label class="govuk-label govuk-checkboxes__label" asp-for="@Model.Promotions[i].IsSelected">
                                            @Model.Promotions[i].Description
                                            @if (Model.Promotions[i].Description == "Carrying out and writing up case studies")
                                            {
                                                <span class="govuk-caption-m govuk-!-margin-top-0">Write up people’s experiences of their apprenticeship</span>
                                            }
                                        </label>
                                        <input type="hidden" asp-for="@Model.Promotions[i].Id" />
                                        <input type="hidden" asp-for="@Model.Promotions[i].Ordering" />
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button id="continue-button" type="submit" class="govuk-button" data-module="govuk-button" data-disable-on-submit="true" asp-page-handler="Submit">
                    Continue
                </button>
            </div>
        </form>
    </div>
</div>