@model EmployerSearchViewModel
@{
    ViewData["Title"] = "Before you start";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_validationSummary" />
        <form method="post" asp-route="@RouteNames.Onboarding.EmployerSearch" enctype="multipart/form-data" novalidate>

            @Html.HiddenFor(c => c.OrganisationName)
            @Html.HiddenFor(c => c.Town)
            @Html.HiddenFor(c => c.County)
            @Html.HiddenFor(c => c.Postcode)
            @Html.HiddenFor(c => c.AddressLine1)
            @Html.HiddenFor(c => c.AddressLine2)

            <div esfa-validation-marker-for="SearchTerm" class="govuk-form-group">
                <h1 class="govuk-heading-l">Search for your employer's name or address</h1>
                <div class="govuk-label">
                    Start typing your employer name or postcode
                </div>
                <span asp-validation-for="SearchTerm" class="govuk-error-message"></span>
                <div id="SearchTerm" data-module="govuk-input">
                    <input id="search-term" type="text" asp-for="SearchTerm" class="govuk-input" sfa-validationerror-class="form-control-error" maxlength="200" />
                </div>
            </div>
            <p>
                <a class="govuk-link" href="@Model.ManualEntryLink">Enter address manually</a>
            </p>
            <div class="govuk-button-group">
                <button id="continue" type="submit" class="govuk-button" data-module="govuk-button" data-disable-on-submit="true">
                    Continue
                </button>
            </div>
        </form>
    </div>
</div>