@model CalendarViewModel

<div>
    <div class="govuk-grid-row app-calendar__row">
        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m">Your events</h2>
            <h3 class="govuk-heading-s govuk-!-margin-0">@Model.FirstDayOfCurrentMonth.ToString("MMMM yyyy")</h3>
        </div>
        <div class="govuk-grid-column-one-half">
            <ul class="app-calendar-legend">
                <li class="app-calendar-legend__key"><span class="app-calendar-legend__colour app-calendar-legend__colour--inperson"></span>In person event</li>
                <li class="app-calendar-legend__key"><span class="app-calendar-legend__colour app-calendar-legend__colour--online"></span>Online event</li>
                <li class="app-calendar-legend__key"><span class="app-calendar-legend__colour app-calendar-legend__colour--hybrid"></span>Hybrid event</li>
            </ul>
            <nav class="app-calendar-nav" role="navigation">
                <div class="app-calendar-nav__prev">
                    <a class="app-calendar-nav__link" href="@Model.PreviousMonthLink" rel="prev">
                        <svg class="app-calendar-nav__icon app-calendar-nav__icon--prev" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 69.72 112"><path d="m57.44,40.78L24.55,0H0l45.17,56L0,112h24.55c8.71-10.82,36.93-45.77,45.17-56l-12.28-15.22Z"></svg>
                        <span class="app-calendar-nav__link-title">Previous month</span>
                    </a>
                </div>
                <div class="app-calendar-nav__next">
                    <a class="app-calendar-nav__link" href="@Model.NextMonthLink" rel="next">
                        <svg class="app-calendar-nav__icon app-calendar-nav__icon--next" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 69.72 112"><path d="m57.44,40.78L24.55,0H0l45.17,56L0,112h24.55c8.71-10.82,36.93-45.77,45.17-56l-12.28-15.22Z"></svg>
                        <span class="app-calendar-nav__link-title">Next month</span>
                    </a>
                </div>
            </nav>
        </div>
    </div>

    <div class="app-calendar">
        <div class="app-calendar__header">Mon</div>
        <div class="app-calendar__header">Tue</div>
        <div class="app-calendar__header">Wed</div>
        <div class="app-calendar__header">Thu</div>
        <div class="app-calendar__header">Fri</div>
        <div class="app-calendar__header">Sat</div>
        <div class="app-calendar__header">Sun</div>

        @foreach (var calendarDay in Model.CalendarItems)
        {
            if (calendarDay.Day == null)
            {
                <div class="app-calendar__day app-calendar__day--empty"></div>
                continue;
            }

            <div class="app-calendar__day">
                <span class="app-calendar__date @(calendarDay.IsToday ? "app-calendar__date--today" : "")">
                    <span class="app-calendar__date-day">@calendarDay.Day?.Day</span>
                </span>
            

                @foreach (var appointment in calendarDay.Appointments)
                {
                    <a class="@appointment.Format" href="@appointment.Url">@appointment.Title</a>
                }
            </div>
        }
    </div>
</div>