@using Microsoft.AspNetCore.Mvc.ModelBinding;
@using SFA.DAS.ApprenticeAan.Web.Models.NetworkEvents;

@model NetworkEventDetailsViewModel

@{
    var startTime = @Model.StartDate.ToString("h:mm tt");
    var endTime = @Model.EndDate.ToString("h:mm tt");
}

<strong class="govuk-tag app-tag app-tag--online">Online</strong> <strong class="govuk-tag app-tag">Conference</strong>
<h1 class="govuk-heading-xl govuk-!-margin-top-4">@Model.Description.Trim()</h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">When and where</h2>
        <p>@Model.StartDate.ToString("dddd, d MMMM yyyy")<span class="das-!-display--block">@startTime to @endTime</span> </p>
        <p><strong>Online:</strong> joining details provided on sign up</p>
    </div>
</div>
